.toggle-bg.react-toggle--checked .react-toggle-track {
    background-color: #8b5cf6 !important;
}

.radio-group input[type="radio"] {
    display: none;
}

.radio-group label {
    display: inline-block;
    background-color: rgb(221 214 254);
    border: rgb(221 214 254) solid 1px;
    padding: 4px 11px;
    cursor: pointer;
    width: 100%;
}

.radio-group input[type="radio"]:checked + label {
    background-color: rgb(196 181 253);
    border: rgb(167 139 250) solid 1px;
}
